* {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
}

.button{
	font-style: italic;
	color: #ffffff;
	background: #E3B873;
	border: none;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
}

.container {
	box-sizing: border-box;
	max-width: 1260px;
	padding: 0 18px;
	margin: 0 auto;
}

.title {
	font-family: 'Yeseva One', sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.hl {
	color: #E3B873;
}

input:focus::placeholder {
	color: transparent;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 82px;
	background-color: #131313;
	z-index: 999;
	text-align: center;
}

.header__nav {
	margin-top: 24px;
	font-weight: 400;
	font-size: 11px;
}

.header__title {
	display: inline-block;
	margin-right: 55px;
	text-decoration: none;
	text-transform: uppercase;
	color: #E3B873;
}

.header__menu {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

.header__menu_wrapper {
	display: flex;
	width: 570px;
	justify-content: space-around;
	flex-basis: 500px;
}

.header__link {
	font-weight: 400;
	line-height: 15px;
	color: #FFFFFF;
	text-decoration: none;
	transition: 0.5s;
}

.header__link:hover {
	color: #E3B873;
}

.header__contacts {
	display: inline-block;
	margin-left: 70px;
}

.header__phone {
	font-weight: 400;
	line-height: 15px;
	color: #E3B873;
}

.header_btn {
	margin-left: 45px;
	width: 200px;
	height: 37px;
}

.promo {
	min-height: 710px;
	background: url('../img/bg/bg_1.svg') center center/cover no-repeat;
}

.promo__wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 92px;
}

.promo__title {
	padding-top: 194px;
	max-width: 600px;
}


.promo__descr {
	padding-top: 19px;
	max-width: 504px;
	font-weight: 400;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
}

.promo__btn {
	margin-top: 41px;
}

.promo__btn_calc {
	width: 207px;
	height: 51px;
}

.promo__btn_sub {
	margin-left: 20px;
	width: 207px;
	height: 51px;
	background: transparent;
	border: 1px solid #FFFFFF;
}

.projects {
	padding-top: 107px;
	min-height: 968px;
	background-color: #131313;
}

.projects__nav {
	margin: 0 auto;
	padding: 0 0 0 493px;
	font-weight: 400;
}

.nav__wrapper {
	padding: 0;
	display: flex;
	width: 630px;
	justify-content: space-between;
	list-style-type: none;
}

.nav__link {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.3);
}

.nav__link_active {
	color: #E3B873;
	border-bottom: solid thin #E3B873;
	padding-bottom: 7px;
}

.projects__descr {
	display: grid;
	grid-template-columns: 442px 679px;
    grid-template-rows: 186px 1fr;
    column-gap: 50px;
    row-gap: 42px;
    padding-top: 52px;
}

.projects__descr__subtitle {
	font-size: 27px;
	line-height: 37px;
	max-width: 315px;
}

.projects__descr__main {
	margin-top: 34px;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
}

.projects__descr__specs {
	max-width: 370px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 73px 73px;
    row-gap: 34px;
}

.descr__spec-title {
	font-size: 18px;
}

.descr__spec-text {
	font-weight: 400;
	font-size: 13px;
	color: #FFFFFF;
}

.projects__preview {
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}

.projects__img {
	width: 100%;
}

.projects__pagination {
	grid-column-start: 1;
    grid-column-end: 3;
}

.pagination__arrow {
	display: inline-block;
	width: 40px;
	height: 1px;
	background-color: #fff;
	cursor: pointer;
}

.arrow_left::before {
	content: " ";
	display: block;
	position: relative;
	width: 10px;
	height: 1px;
	background-color: white;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
}

.arrow_left::after {
	content: " ";
	display: block;
	position: relative;
	top: -1px;
	width: 10px;
	height: 1px;
	background-color: white;
	transform: rotate(-45deg);
    transform-origin: 0% 0%;
}

.pagination__dots {
	display: inline-block;
	margin: 0 30px;
	transform: translateY(35%);
	cursor: pointer;
}

.pagination__dots_wrapper {
	display: flex;
	justify-content: space-between;
	width: 50px;
}

.pagination__arrow_wrapper {
	display: inline-block;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

.pagination__item {
	display: inline-block;
    width: 9px;
    height: 9px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.pagination__item_active {
	background-color: #fff;
}

.arrow_right::before {
    content: '';
    display: block;
    position: relative;
    top: 1px;
    left: 40px;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(135deg);
    transform-origin: 0% 0%;
}

.arrow_right::after {
	content: '';
    display: block;
    position: relative;
    left: 40px;
    width: 10px;
    height: 1px;
    background-color: white;
    transform: rotate(-135deg);
    transform-origin: 0% 0%; 
}

.control {
	height: 707px;
}

.container_shifted {
	transform: translateY(-350px);
}

.section__subtitle {
	font-size: 20px;
	text-align: center;
	line-height: 28px;
}

.icon__container {
	position: relative;
	width: 33px;
	margin: 13px auto;
}

.icon__container::before {
	content: "";
	display: block;
	width: 32px;
	height: 2px;
	background-color: #E3B873;
	text-align: center;
	position: absolute;
	top: 40%;
	right: 43px;
	transform: translateY(-50%)
}

.icon__container::after {
	content: "";
	display: block;
	width: 32px;
	height: 2px;
	background-color: #E3B873;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 43px;
	transform: translateY(-50%)
}
.img__pagination_cirle{ 
	display: none;	
}
.control__preview {
	position: relative;
}

.control__preview::after {
	content: "";
	display: block;
	height: 2px;
	width: 55px;
	background-color: #E3B873;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.control__preview_img { 
	position: relative;
	display: block;
	margin: 0 auto;
}

.play__icon_cicrle {
	background: #E3B873;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
	margin: 0;
	transform: translate(-50%, -70%);
	cursor: pointer;
}

.play__icon_triangle {
	position: relative;
	height: 100%;
}

.play__icon_triangle::before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 0px 14px 22px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-35%, -50%);
}

.control__description {
	display: block;
	margin: 34px auto 0 auto;
	width: 681px;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
}

.control__submition {
	margin: 92px auto 0 auto;
	display: flex;
	width: 770px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.input_form {
	height: 32px;
	width: 231px;
	border: none;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	padding-bottom: 8px;
	outline: none;
}

::placeholder {
	font-size: 14px;
	color: #363636;
}

.form__button {
	height: 51px;
	width: 200px;
	font-size: 13px;
}

.input_wrapper {
	position: relative;
}

.form__name_wrapper::before {
	content: "Name";
	font-size: 13px;
	color: rgba(54, 54, 54, 0.5);
	position: absolute;
	top: -15px;
	left: 2px;
}

.form__phone_wrapper::before {
	content: "Phone";
	font-size: 13px;
	color: rgba(54, 54, 54, 0.5);
	position: absolute;
	top: -15px;
	left: 2px;
}

.form__checkbox_label {
	display: block;
	margin: 37px auto 0 auto;
	cursor: pointer;
}

.form__checkbox {
	height: 18px;
	width: 18px;
	transform: translateY(3px);
}

.form__checkbox:checked {
	outline: none;
	appearance: none;
	background-image: url('../img/icons/check.svg');
}

.section__subtitle_black {
	color: #181818;
}

.types {
	margin-top: 75px;
}

.types__preview {
	display: inline-block;
	margin-right: 30px;
	margin-top: 31px;
	width: 385px;
}
.types__preview:last-child {
	margin-right: 0px;
}

.types__preview_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.preview__img {
	width: 100%;
}

.preview__specs_item {
	width: 267px;
	height: 212px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
	padding: 25px 29px 49px 34px;
	transform: translateY(-127px);
}

.specs__title {
	color: #363636;
	font-size: 18px;
	line-height: 25px;
	text-transform: none;
}

.specs__descr {
	margin-top: 13px;
	font-size: 13px;
	line-height: 25px;
	color: #959595;
	padding-left: 17px;
}

.specs__price {
	width: 228px;
	height: 54px;
	margin-top: 23px;
	padding: 0;
	background-color: #E3B873;
	text-align: center;
	box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	font-size: 18px;
	line-height: 25px;
	font-style: normal;
	transform: translateX(-30px);
}


/* 	Work in progress... */
.request {
	height: 980px;
}

.request__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	column-gap: 131px;
}

.request__benefits {
	display: inline-block;
	height: 625px;
	width: 703px;
	margin-left: -100px;
	background: url('../img/bg/bg_2.png') center center/cover no-repeat;
}

.benefits__item_wrapper {
	margin-left: 240px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 585px;
	align-items: start;
}

.benefits__item {
	position: relative;
}

.benefits__circle {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	margin-right: 5px;
}

.benefits__circle::after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	background-color: #E3B873;
	top: 0;
	left: 0;
	z-index: 4;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	transform: translate(23%, 23%)
}

.benefits__number {
	width: 100%;
	position: absolute;
	z-index: 5;
	font-size: 18px;
	text-align: center;
	top: 4px;
}

.benefits__descr {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 316px;
	font-size: 14px;
	transform: translateY(-60%);
}

.request__form_wrapper {
	margin-top: 90px;
	display: inline-block;
	height: 509px;
	width: 506px;
	background-color: #131313;
}

.form__title {
	margin: 0 auto;
	padding-top: 28px;
	padding-bottom: 39px;
	width: 272px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 26px;
}

.request__form {
	margin: 0 auto;
	width: 408px;
	height: 390px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.input_form_request {
	background-color: #131313;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	width: 408px;
	color: #FFFFFF;
}
.input_form_request::placeholder{
	color: #FFFFFF;
}

.form__email_wrapper::before {
	content: "Email";
	font-size: 13px;
	color: rgba(54, 54, 54, 0.5);
	position: absolute;
	top: -15px;
	left: 2px;
}

.input_wrapper_request::before {
	color: rgba(255, 255, 255, 0.5);
}

.checkbox_label_request {
	margin: 0;
	align-self: flex-start;
	color: #FFFFFF;
	margin-top: -40px;
}

.form__button_request {
	align-self: flex-end;
}

.request__save {
	margin-left: 36px;
	grid-column: 2;
	position: relative;
}

.save__icon_wrapper {
	position: relative;
	display: inline-block;
	width: 72px;
	height: 72px;
	background-color: #E3B873;
	border-radius: 50%;
	margin-right: 25px;
}

.save__icon {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-48%, -52%);
}

.save__text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 212px;
	display: inline-block;
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.design {
	height: 864px;
	background: url('../img/bg/bg_3.png') center center/cover no-repeat;
}

.design__mobile {
	display: none;
}

.design__wrapper {
	display: grid;
	grid-template-columns: 475px 397px 354px;
}

.design__list {
	display: inline-block;
	width: 475px;
	margin-top: 137px;
}

.list__title {
	line-height: 38px;
	width: 380px;
	font-size: 27px;
}

.list__wrapper {
	margin-top: 47px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-inline-start: 0px;
	height: 520px;
}

.list__item {
	font-size: 20px;
	line-height: 38px;
	color: #FFFFFF;
	width: fit-content;
	cursor: pointer;
	transition: 0.5s;
}

.list__item:hover {
	color: #E3B873;
}

.list__item_active {
	position: relative;
	color: #E3B873;
}

.list__item_active::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	border-bottom: solid thin #E3B873;
}

.design__puzzle {
	display: inline-block;
	position: relative;
}

.puzzle__img_1 {
	margin-top: -41px;
	margin-bottom: 39px;
}

.puzzle__img_3 {
	margin-top: -112px;
	margin-bottom: 37px;
}

.clients {
	margin-top: 110px;
	height: 1100px;
	background: url('../img/bg/bg_4.png') bottom left repeat-x;
}

.clients__promo {
	margin: 24px auto 39px;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	width: 420px;
}

.clients__feedback_wrapper {
	display: flex;
	justify-content: space-between;
}

.feedback__item {
	width: 376px;
	height: 428px;
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.feedback__top_wrapper {
	position: relative;
	margin: 24px 20px 22px;
}

.feedback__photo {
	display: inline-block;
	margin-right: 23px;
}

.feedback__photo_img {
	border-radius: 50%;
	width: 100%;
}

.feedback__name {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	line-height: 23px;
	color: #181818;
}

.feedback__text {
	font-size: 13px;
	line-height: 23px;
	color: #959595;
	margin: 0 20px;
	width: 324px;
}

.feedback__specs {
	display: inline-block;
	position: relative;
	height: 54px;
	background-color: #E3B873;
	box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
	margin-top: 45px;
	margin-right: -3px;
	cursor: default;
}

.specs__icon {
	display: inline-block;
	position: absolute;
	left: 17px;
	transform: translateY(11.5px)
}

.specs__text {
	display: inline-block;
	position: absolute;
	left: 61px;
	transform:translateY(17px);
	font-size: 17px;
	line-height: 24px;
}

.feedback__specs_meter {
	width: 135px;
}

.feedback__specs_time {
	width: 158px;
}

.questions {
	margin-top: -223px;
	height: 446px;
	position: relative;
}

.questions__form_wrapper {
	margin: 0 auto;
	width: 883px;
	height: 446px;
	background-color: #181818;
}

.questions__subtitle {
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	padding: 34px 0 45px;
	margin: 0 auto;
	text-align: center;
}

.questions__form {
	margin: 0 auto;
	width: 520px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.input_wrapper_questions {
	width: 231px;
}

.input_form_questions {
	background-color: #181818;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.input_form_questions::placeholder{
	color: #FFFFFF;
}

.input_wrapper_q {
	margin-top: 48px;
}

.input_form_questions-q {
	width: 516px;
}

.input_wrapper_q::before {
	content: "Question";
}

.checkbox_label_questions {
	margin-top: 48px;
	flex-basis: 100%;
	text-align: center;
}
.form__button_questions {
	margin-top: 50px;
	margin: 50px auto 0px;
	align-self: center;
}

.contacts {
	height: 920px;
	background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url('../img/bg/bg_5.png') center center/cover no-repeat;
	margin-top: -223px;
}

.contacts__container {
	margin: 0 auto;
	padding-top: 275px;
	max-width: 1000px;
}

.contacts__adress {
	margin: 0 auto;
	font-size: 20px;
	line-height: 28px;
	width: 580px;
	text-align: center;
}

.contacts__social {
	margin: 26px auto 43px;
	text-align: center;
	width: 71px;
	display: flex;
	justify-content: space-between;
}


.contacts__map {
	margin-top: 42px;
	height: 517px;
	text-align: center;
}

.footer {
	height: 70px;
	background-color: #131313;
}

.footer__wrapper {
	display: grid;
	grid-template-rows: 70px;
	grid-template-columns: 1fr 575px 1fr;
	font-size: 11px;
}

.footer__logo {
	align-self: center;
}

.footer__contacts {
	align-self: center;
}

.footer__contacts_wrapper {
	margin: 0 auto;
	justify-content: space-around;
	display: flex;
	align-items: center;
	width: 245px;
}

.footer__icon_container {
	position: relative;
	height: 28px;
	width: 28px;
	background-color: #E3B873;
	border-radius: 50%;
	cursor: pointer;
}

.footer__icon {
	position: absolute;
	height: 14px;
	width: 16px;
	top: 0;
	left: 0;
	transform: translate(38%, 50%)
}

.footer__form {
	align-self: center;
}

.form__search_form {
	background-color: #131313;
	color: #FFFFFF;
	border: 1px solid rgba(255, 255, 255, 0.15);
	width: 250px;
	border-radius: 2px;
}

.form__search_form::placeholder {
	color: #FFFFFF;
}

.form__search_form:focus {
	outline: none
}

.form__search_button {
	height: 20px;
	width: 70px;
}


/* Adaptive */

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width:1299px) {
	.container {
		max-width: 1160px;
	}
	.header__title {
		margin-right: 30px;
	}
	.header__contacts {
		margin-left: 30px;
	}
	.header_btn {
		margin-left: 25px;
		width: 160px;
		height: 37px;
	}
	.nav__wrapper{
		width: 580px;
	}
	.projects__nav {
		padding-left: 453px;
	}
	.projects__descr {
		column-gap: 10px;
	}
	.types__preview {
		width: 351px;
	}
	.request__grid {
		column-gap: 0;
	}
	.design__wrapper {
		grid-template-columns: 372px 397px 354px;
	}
	.footer__wrapper {
		grid-template-columns: 1fr 475px 1fr;
	}
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		max-width: 1050px;
	}
	.header__title {
		margin-right: 20px;
	}
	.header__menu_wrapper {
		width: 470px;
	}
	.header__contacts {
		margin-left: 15px;
	}
	.header_btn {
		margin-left: 15px;
		width: 140px;
		height: 37px;
	}
	.nav__wrapper {
		width: 464px;
	}
	.nav__link_active {
		padding-bottom: 1px;
	}
	.projects {
		padding-top: 0;
		min-height: 1190px;
	}
	.projects__nav {
		display: none;
	}
	.projects__descr {
		padding-top: 0px;
		grid-template-columns: 1fr;
		grid-template-rows: 105px 480px 90px;
	}
	.projects__descr_wrapper {
		margin-top: 36px;
		display: flex;
		justify-content: center;
	}
	.projects__descr__subtitle {
		margin-right: 150px;
	}
	.projects__descr__main {
		margin-top: 0;
		max-width: 368px;
		text-align: end;
	}
	.projects__preview {
		position: relative;
		grid-column: 1;
		grid-row: 2;
		margin: 0 auto;
	}
	.img__pagination_circle{ 
		display: block;
		background: rgb(227, 184, 115, 0.1);
		border-radius: 50%;
		height: 60px;
		width: 60px;
		position: absolute;
		top: 50%;
		margin: 0;
		transform: translateY(-50%);
		cursor: pointer;
		transition: 0.5s;
	}
	.img__pagination_circle:hover{
		background: rgb(227, 184, 115);
	}
	.img__pagination_circle-left {
		left: -15%;
	}
	.img__pagination_circle-right {
		right: -15%;
	}
	.img__pagination_arrow{
		position: relative;
		height: 100%;
	}
	.img__pagination_arrow::before{
		content: "";
		display: block;
		width: 4px;
		height: 20px;
		background-color: #fff;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: rotate(45deg);
		border-radius: 5px;
	}
	.img__pagination_arrow::after{
		content: "";
		display: block;
		width: 4px;
		height: 20px;
		background-color: #fff;
		position: absolute;
		top: 25%;
		left: 50%;
		transform: rotate(-45deg);
		border-radius: 5px;
	}
	.img__pagination_circle-left {
		transform: scale(-1, 1) translateY(-50%);
	}
	.projects__descr__specs {
		max-width: 950px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 90px;
		column-gap: 80px;
		margin: 0 auto;
	}
	.descr__spec__item {
		margin: 0 auto;
		position: relative;
	}
	.descr__spec__item:not(:first-child)::before {
		content: '';
		display: block;
		height: 90px;
		width: 2px;
		background-color: #e6b873;
		top: 0%;
		left: -32px;
		position: absolute;
	}
	.projects__pagination {
		display: none;
	}
	.types__preview {
		width: 100%;
	}
	.types__preview_wrapper {
		flex-direction: row;
		justify-content: center;
	}
	.preview__specs_item {
		transform: translate(-32px, -50px);
	}
	.benefits__item_wrapper {
		margin-left: 170px;
	}
	.request__grid {
		grid-template-columns: 432px 506px;
		row-gap: 0;
	}
	.benefits__item_wrapper {
		margin-left: 110px;
	}
	.request {
		height: 1065px;
	}
	.request__grid {
		column-gap: 0;
		margin: 0 auto;
    	width: 939px;
	}
	.design {
		background: #131313;
		height: 680px;
	}
	.design__wrapper {
		grid-template-columns: 939px;
		grid-template-rows: 75px 390px;
		margin: 0 auto;
		transform: translateY(-290px);
		width: 939px;
	}
	.design__list {
		margin: 0 auto;
		text-align: center;
	}
	.list__title {
		margin: 0 auto;
	}
	.list__wrapper {
		display: none;
	}
	.design__puzzle_wrapper-col-1 {
		display: none;
	}
	.design__puzzle_wrapper-col-2 {
		display: none;
	}
	.design__mobile {
		display: block;
		position: relative;
		width: 785px;
		margin: 42px auto 0;
		text-align: center;
	}
	.design_mobile_img {
		width: 70%;
	}
	.img__pagination_circle-left_design {
		left: 0;
	}
	.img__pagination_circle-right_design {
		right: 0;
	}
	.img__pagination_circle_design {
		background: #E3B873;
		top: 50%;
	}
	.clients {
		margin-top: -400px;
		height: 992px;
	}
	.section__subtitle_black {
		color: #FFFFFF;
	}
	.clients__promo {
		color: #FFFFFF;
	}
	.clients__feedback_wrapper {
		justify-content: space-around;
	}
	.feedback__item_mobile {
		display: none;
	}
	.contacts__map_img {
		width: 100%;
	}
	.footer__wrapper {
		grid-template-columns: 1fr 350px 1fr;
	}
	.form__search_form {
		width: 220px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		min-height: 70px;
	}
	.container {
		max-width: 870px;
	}
	.header__container{
		width: 767px;
	}
	.header__nav {
		font-size: 10px;
	}
	.header__title {
		margin-right: 10px;
	}
	.header__menu_wrapper {
		width: 366px;
	}
	.header__contacts {
		margin-left: 10px;
	}
	.header_btn {
		margin-left: 10px;
		width: 95px;
		height: 30px;
		transform: translateY(-6px);
	}
	.projects {
		padding-top: 0;
		min-height: 1140px;
	}
	.projects__nav {
		display: none;
	}
	.projects__descr {
		padding-top: 36px;
		grid-template-columns: 1fr;
		grid-template-rows: 160px 426px 90px;
		row-gap: 36px;
	}
	.projects__descr_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.projects__descr__subtitle {
		margin-right: 0;
		text-align: center;
	}
	.projects__descr__main {
		margin-top: 22px;
		max-width: 368px;
		text-align: center;
	}
	.projects__preview {
		position: relative;
		grid-column: 1;
		grid-row: 2;
		margin: 0 auto;
		max-width: 600px;
	}
	.img__pagination_circle{ 
		display: block;
		background: rgb(227, 184, 115, 0.1);
		border-radius: 50%;
		height: 60px;
		width: 60px;
		position: absolute;
		top: 50%;
		margin: 0;
		transform: translateY(-50%);
		cursor: pointer;
		transition: 0.5s;
	}
	.img__pagination_circle:hover{
		background: rgb(227, 184, 115);
	}
	.img__pagination_circle-left {
		left: -11%;
	}
	.img__pagination_circle-right {
		right: -11%;
	}
	.img__pagination_arrow{
		position: relative;
		height: 100%;
	}
	.img__pagination_arrow::before{
		content: "";
		display: block;
		width: 4px;
		height: 20px;
		background-color: #fff;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: rotate(45deg);
		border-radius: 5px;
	}
	.img__pagination_arrow::after{
		content: "";
		display: block;
		width: 4px;
		height: 20px;
		background-color: #fff;
		position: absolute;
		top: 25%;
		left: 50%;
		transform: rotate(-45deg);
		border-radius: 5px;
	}
	.img__pagination_circle-left {
		transform: scale(-1, 1) translateY(-50%);
	}
	.projects__descr__specs {
		max-width: 950px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 90px;
		column-gap: 10px;
		margin: 0 auto;
	}
	.descr__spec__item {
		margin: 0 auto;
		position: relative;
	}
	.descr__spec__item:not(:first-child)::before {
		content: '';
		display: block;
		height: 90px;
		width: 2px;
		background-color: #e6b873;
		top: 0%;
		left: -20px;
		position: absolute;
	}
	.projects__pagination {
		display: none;
	}
	.container_shifted {
		transform: translateY(-300px);
	}
	.preview__specs_item {
		transform: translate(-32px, -50px);
	}
	.control {
		height: 750px;
		background-color: #131313;
	}
	.control__preview_img {
		width: 715px;
	}
	.control__description {
		color: #ffffff;
	}
	.control__submition {
		width: 720px;
		margin-top: 80px;
		flex-direction: column;
		height: 500px;
		justify-content: normal;
	}
	.submition__name_wrapper{
		flex-basis: 20%;
	}
	.input_form {
		background-color: #131313;
		border-bottom: 1px solid #ffffff;
	}
	.input_form::placeholder{
		color: #FFFFFF;
	}
	.input_wrapper::before {
		color: rgba(255, 255, 255, 0.5);
	}
	.control__submition {
		width: 428px;
		margin-top: 80px;
		flex-direction: column;
		height: 310px;
		justify-content: space-between;
	}
	.submition__name_wrapper{
		flex-basis: 20%;
	}
	.input_form {
		color: #FFFFFF;
		background-color: #131313;
		border-bottom: 1px solid #ffffff;
		width: 420px;
	}
	.input_form::placeholder{
		color: #FFFFFF;
	}
	.input_wrapper::before {
		color: rgba(255, 255, 255, 0.5);
	}
	.checkbox_label_control {
		order: 1;
		flex-basis: 16%;
		color: #FFFFFF;
		margin: 28px 0 0 0;
		align-self: center;
	}
	.form__button_control {
		order: 2;
		width: 428px;
	}
	.types__preview {
		width: 100%;
	}
	.types__preview_wrapper {
		flex-direction: row;
		justify-content: center;
	}
	.types__preview {
		width: 100%;
		margin-right: 0px;
	}
	.types__preview_wrapper {
		flex-direction: row;
		justify-content: center;
	}
	.preview__specs_item {
		transform: translate(-32px, -50px);
	}
	.request {
		height: 920px;
	}
	.request__grid {
		grid-template-columns: 1fr;
		margin: 0 auto;
		width: 715px;
	}
	.request__benefits {
		display: none;
	}
	.request__save {
		display: none;
	}
	.request__form_wrapper {
		width: 715px;
	}
	.design {
		background: #131313;
		height: 660px;
	}
	.design__wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: 75px 330px;
		margin: 0 auto;
		transform: translateY(-260px);
		width: 680px;
	}
	.design__list {
		margin: 0 auto;
		text-align: center;
	}
	.list__title {
		margin: 0 auto;
	}
	.list__wrapper {
		display: none;
	}
	.design__puzzle_wrapper-col-1 {
		display: none;
	}
	.design__puzzle_wrapper-col-2 {
		display: none;
	}
	.design__mobile {
		display: block;
		position: relative;
		width: 100%;
		margin: 42px auto 0;
		text-align: center;
	}
	.design_mobile_img {
		width: 70%;
	}
	.img__pagination_circle-left_design {
		left: 0;
	}
	.img__pagination_circle-right_design {
		right: 0;
	}
	.img__pagination_circle_design {
		background: #E3B873;
		top: 50%;
	}
	.clients {
		margin-top: -400px;
		height: 992px;
	}
	.section__subtitle_black {
		color: #FFFFFF;
	}
	.clients__promo {
		color: #FFFFFF;
	}
	.clients__feedback_wrapper {
		justify-content: space-around;
	}
	.feedback__item {
		width: 346px;
	}
	.feedback__item_mobile {
		display: none;
	}
	.questions__form_wrapper {
		width: 100%;
	}
	.questions__submition {
		margin-top: 0;
		width: 428px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.input_form_questions {
		background-color: #181818;
	}
	.input_wrapper_q {
		margin-top: 0;
	}
	.checkbox_label_questions {
		flex-basis: 0;
		margin-top: 0;
	}
	.form__button_questions {
		margin: 0 auto;
	}
	.contacts {
		height: 820px;
	}
	.contacts__map_img {
		width: 100%;
	}
	.footer__wrapper {
		grid-template-columns: 165px 300px 1fr;
	}
	.footer__contacts_wrapper {
		width: 235px;
	}
	.form__search_form {
		width: 175px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.container {
		max-width: 675px;
	}
	.header {
		min-height: 60px;
	}
	.header__nav {
		display: flex;
		justify-content: space-between;
		font-size: 11px;
		margin-top: 23px;
	}
	.header__menu {
		display: none;
	}
	.header__phone {
		text-decoration: none;
		color: #FFFFFF;
	}
	.header_btn {
		display: none;
	}
	.promo {
		min-height: 0;
		height: 510px;
	}
	.promo__wrapper {
		padding: 142px 0 0 0;
		align-items: center;
		width: 428px;
		margin: 0 auto;
	}
	.promo__title {
		max-width: 510px;
		padding-top: 0px;
		font-size: 31px;
		line-height: 40px;
	}
	.promo__descr {
		padding-top: 0;
		margin-top: 16px;
		max-width: 433px;
		font-size: 14px;
		line-height: 19px;
	}
	.promo__btn {
		margin-top: 32px;
	}
	.promo__btn_calc {
		padding: 0;
		width: 445px;
		height: 51px;
	}
	.promo__btn_sub {
		padding: 0;
		margin: 26px 0 0 0;
		width: 445px;
		height: 51px;
	}
	.projects {
		padding-top: 0;
		min-height: 1140px;
	}
	.projects__nav {
		display: none;
	}
	.projects__descr {
		padding-top: 36px;
		grid-template-columns: 1fr;
		grid-template-rows: 160px 290px 90px;
		row-gap: 36px;
		width: 428px;
		margin: 0 auto;
	}
	.projects__descr_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.projects__descr__subtitle {
		margin-right: 0;
		text-align: center;
	}
	.projects__descr__main {
		margin-top: 22px;
		max-width: 368px;
		text-align: center;
	}
	.projects__preview {
		position: relative;
		grid-column: 1;
		grid-row: 2;
		margin: 0 auto;
		max-width: 410px;
	}
	.img__pagination_circle{ 
		display: block;
		background: rgb(227, 184, 115);
		border-radius: 50%;
		height: 36px;
		width: 36px;
		position: absolute;
		top: 50%;
		margin: 0;
		transform: translateY(-50%);
	}
	.img__pagination_circle-left {
		left: 3%;
	}
	.img__pagination_circle-right {
		right: 3%;
	}
	.img__pagination_arrow{
		position: relative;
		height: 100%;
	}
	.img__pagination_arrow::before{
		content: "";
		display: block;
		width: 2px;
		height: 10px;
		background-color: #fff;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: rotate(45deg);
		border-radius: 5px;
	}
	.img__pagination_arrow::after{
		content: "";
		display: block;
		width: 2px;
		height: 10px;
		background-color: #fff;
		position: absolute;
		top: 25%;
		left: 50%;
		transform: rotate(-45deg);
		border-radius: 5px;
	}
	.img__pagination_circle-left {
		transform: scale(-1, 1) translateY(-50%);
	}
	.projects__descr__specs {
		max-width: 950px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 68px 68px;
		column-gap: 61px;
		row-gap: 27px;
	}
	.projects__pagination {
		display: none;
	}
	.container_shifted {
		transform: translateY(-300px);
	}
	.preview__specs_item {
		transform: translate(-32px, -50px);
	}
	.control {
		height: 545px;
		background-color: #131313;
	}
	.control__preview_img {
		width: 429px;
	}
	.play__icon_cicrle {
		width: 37px;
		height: 37px;
	}
	.play__icon_triangle::before {
		border-width: 7px 0px 7px 12px;
	}
	.control__description {
		font-size: 12px;
		line-height: 23px;
		width: 428px;
		color: #ffffff;
	}
	.control__submition {
		width: 428px;
		margin-top: 80px;
		flex-direction: column;
		height: 303px;
		justify-content: space-between;
	}
	.submition__name_wrapper{
		flex-basis: 20%;
	}
	.input_form {
		background-color: #131313;
		border-bottom: 1px solid #ffffff;
		width: 420px;
	}
	.input_form::placeholder{
		color: #FFFFFF;
	}
	.input_wrapper::before {
		color: rgba(255, 255, 255, 0.5);
	}
	.checkbox_label_control {
		order: 1;
		color: #FFFFFF;
		margin: 28px 0 0 0;
		align-self: flex-start;
		margin-top: -40px;
	}
	.form__button_control {
		order: 2;
		width: 428px;
	}
	.types__preview {
		width: 100%;
	}
	.types__preview_wrapper {
		flex-direction: column;
		justify-content: flex-start;
		height: 600px;
		width: 428px;
		margin: 0 auto;
	}
	.types__preview {
		width: 100%;
		margin-right: 0px;
	}
	.preview__specs_item {
		align-self: flex-start;
		transform: translateY(-170px);
	}
	.request {
		display: none;
	}
	.design {
		background: #131313;
		height: 222px;
		margin-top: 255px;
	}
	.design__wrapper {
		grid-template-columns: 432px;
		grid-template-rows: 75px 260px;
		row-gap: 24px;
		margin: 0 auto;
		transform: translateY(-230px);
		width: 432px;
	}
	.design__list {
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	.list__title {
		margin: 0 auto;
	}
	.list__wrapper {
		display: none;
	}
	.design__puzzle_wrapper-col-1 {
		display: none;
	}
	.design__puzzle_wrapper-col-2 {
		display: none;
	}
	.design__mobile {
		display: block;
		position: relative;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.design_mobile_img {
		width: 100%;
	}
	.img__pagination_circle-left_design {
		left: 15px;
	}
	.img__pagination_circle-right_design {
		right: 15px;
	}
	.img__pagination_circle_design {
		background: #E3B873;
		top: 50%;
	}
	.clients {
		display: none;
	}
	.questions {
		margin-top: -93px;
		background-color: #131313;
		height: 648px;
	}
	.questions__form_wrapper {
		background-color: #131313;
		width: 432px;
	}
	.questions__form_wrapper {
		width: 100%;
	}
	.questions__subtitle {
		padding: 52px 0;
	}
	.questions__submition {
		margin-top: 0;
		width: 432px;
		height: 475px;
	}
	.input_wrapper_q {
		margin-top: 0;
	}
	.checkbox_label_questions {
		flex-basis: 0;
		margin-top: -65px;
	}
	.form__button_questions {
		margin: 0 auto;
		width: 100%;
	}
	.contacts {
		height: 580px;
		background: #131313;
	}
	.contacts__map_img {
		width: 100%;
	}
	.contacts__container {
		display: flex;
		flex-direction: column-reverse;
		height: 281px;
	}
	.contacts__adress {
		width: 343px;
	}
	.footer__wrapper {
		grid-template-columns: 1fr;
	}
	.footer__logo {
		display: none;
	}
	.footer__form {
		display: none;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.container {
		max-width: 444px;
	}
	.title {
		font-size: 22px;
	}
	.header__nav {
		font-size: 8px;
	}
	.header__title {
		margin: 0;
	}
	.promo {
		min-height: 510px;
	}
	.promo__wrapper {
		width: 267px;
	}
	.promo__title {
		max-width: 330px;
		padding-top: 0px;
		font-size: 20px;
		line-height: 38px;
	}
	.promo__descr {
		padding-top: 16px;
		max-width: 295px;
		font-size: 12px;
		line-height: 22px;
	}
	.promo__btn {
		margin-top: 32px;
		font-size: 11px;
	}
	.promo__btn_calc {
		padding: 0;
		width: 284px;
		height: 51px;
	}
	.promo__btn_sub {
		padding: 0;
		margin: 26px 0 0 0;
		width: 284px;
		height: 51px;
	}
	.projects {
		padding-top: 0;
		min-height: 1050px;
	}
	.projects__nav {
		display: none;
	}
	.projects__descr {
		grid-template-rows: 200px 190px 170px;
		width: 267px;
	}
	.projects__descr__subtitle {
		width: 200px;
	}
	.projects__descr__main {
		max-width: 270px;
		font-size: 11px;
	}
	br {
		display: none;
	}
	.projects__preview {
		max-width: 267px;
	}
	.img__pagination_circle-left {
		left: 3%;
	}
	.img__pagination_circle-right {
		right: 3%;
	}
	.img__pagination_circle-left {
		transform: scale(-1, 1) translateY(-50%);
	}
	.projects__descr__specs {
		column-gap: 0px;
	}
	.descr__spec-title {
		font-size: 14px;
	}
	.descr__spec-text {
		font-size: 11px;
	}
	.control {
		height: 450px;
	}
	.control__preview_img {
		width: 268px;
	}
	.control__description {
		font-size: 11px;
		line-height: 19px;
		width: 267px;
	}
	.control__submition {
		width: 276px;
	}
	.input_form {
		width: 267px;
	}
	.input_wrapper {
		align-self: flex-start;
	}
	.checkbox_label_control {
		font-size: 13px;
	}
	.form__button_control {
		width: 276px;
	}
	.types__preview {
		margin-right: 0px;
	}
	.types__preview_wrapper {
		height: 456px;
		width: 267px;
	}
	.preview__specs_item {
		width: 200px;
		height: 200px;
		padding: 10px 10px 20px 10px;
		transform: translateY(-115px);
	}
	.specs__title {
		font-size: 15px;
	}
	.specs__descr {
		margin: 0;
		line-height: 20px;
	}
	.specs__price {
		width: 180px;
		height: 40px;
		margin: 0;
		font-size: 15px;
		transform: translate(-10px, 15px);
	}
	.design {
		background: #131313;
		margin-top: 277px;
	}
	.design__wrapper {
		grid-template-columns: 267px;
		grid-template-rows: 75px 182px;
		row-gap: 24px;
		margin: 0 auto;
		transform: translateY(-189px);
		width: 267px;
	}
	.design__list {
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
	.list__title {
		width: 100%;
		margin: 0 auto;
	}
	.list__wrapper {
		display: none;
	}
	.design__puzzle_wrapper-col-1 {
		display: none;
	}
	.design__puzzle_wrapper-col-2 {
		display: none;
	}
	.design__mobile {
		display: block;
		position: relative;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.design_mobile_img {
		width: 100%;
	}
	.img__pagination_circle-left_design {
		left: 15px;
	}
	.img__pagination_circle-right_design {
		right: 15px;
	}
	.img__pagination_circle_design {
		background: #E3B873;
		top: 50%;
	}
	.clients {
		display: none;
	}
	.questions {
		margin-top: -134px;
		background-color: #131313;
		height: 530px;
	}
	.questions__form {
		margin-top: 0;
		height: 375px;
	}
	.questions__form_wrapper {
		width: 267px;
		background-color: #131313;
	}
	.input_wrapper_q {
		margin-top: 0;
	}
	.checkbox_label_questions {
		flex-basis: 0;
		margin-top: -30px;
		font-size: 13px;
	}
	.form__button_questions{
		margin: 0 auto;
	}
	.contacts {
		height: 580px;
		background: #131313;
	}
	.contacts__map_img {
		width: 100%;
	}
	.contacts__container {
		display: flex;
		flex-direction: column-reverse;
		height: 281px;
		padding-top: 250px;
	}
	.contacts__adress {
		width: 257px;
		font-size: 15px;
	}
	.footer__wrapper {
		grid-template-columns: 1fr;
	}
	.footer__logo {
		display: none;
	}
	.footer__form {
		display: none;
	}
}

/* Iphone 5 */
/* @media (max-width: 320px) {

} */